<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      <link rel="icon" type="image/png" href="/img/logo.png">
      <title>Freebie</title>
      <!-- Slick Slider -->
      <link rel="stylesheet" type="text/css" href="vendor/slick/slick.min.css"/>
      <link rel="stylesheet" type="text/css" href="vendor/slick/slick-theme.min.css"/>
      <!-- Icofont Icon-->
      <link href="vendor/icons/icofont.min.css" rel="stylesheet" type="text/css">
      <!-- Bootstrap core CSS -->
      <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <!-- Custom styles for this template -->
      <link href="css/style.css" rel="stylesheet">
      <!-- Sidebar CSS -->
      <link href="vendor/sidebar/demo.css" rel="stylesheet">
   </head>
   <body class="fixed-bottom-padding">
      <div class="border-bottom p-3 d-none mobile-nav">
         <div class="title d-flex align-items-center">
            <a href="/home" class="text-decoration-none text-dark d-flex align-items-center">
               <img class="osahan-logo mr-2" src="img/logo.png">
               <h4 class="font-weight-bold text-success m-0">Freebie</h4>
            </a>
            <p class="ml-auto m-0">
               <a href="/listing" class="text-decoration-none bg-white p-1 rounded shadow-sm d-flex align-items-center">
               <i class="text-dark icofont-sale-discount"></i>

               </a>
            </p>
            <a class="toggle ml-3" href="#"><i class="icofont-navigation-menu"></i></a>
         </div>
         <!-- KEVVVVVV -->
         <a href="/search" class="text-decoration-none">
            <div class="input-group mt-3 rounded shadow-sm overflow-hidden bg-white">
               <div class="input-group-prepend">
                  <button class="border-0 btn btn-outline-secondary text-success bg-white"><i class="icofont-search"></i></button>
               </div>
               <input type="text" class="shadow-none border-0 form-control pl-0" placeholder="Search for Freebies!" aria-label="" aria-describedby="basic-addon1">
            </div>
         </a>
      </div>

      <!-- Dark mode -->
      <!-- <div class="theme-switch-wrapper">
         <label class="theme-switch" for="checkbox">
            <input type="checkbox" id="checkbox" />
            <div class="slider round"></div>
            <i class="icofont-moon"></i>
         </label>
         <em>Enable Dark Mode!</em>
      </div> -->
      <!-- End Dark mode -->
      <!-- Nav bar -->

      <% include partials/nav.ejs %>

      <section class="py-4 osahan-main-body">
         <div class="container">
            <div class="row">
               <div class="col-lg-12">
                  <!-- home page -->
                  <div class="osahan-home-page">
                     <!-- body -->
                     <div class="osahan-body">
                        <!-- Promos -->
                        <div class="py-3 osahan-promos">
                           <div class="d-flex align-items-center mb-3">
                              <h5 class="m-0"> Going Fast! </h5>

                           </div>
                           <div class="promo-slider pb-0 mb-0">
                              <% let hotMax = 6; if(hotMax > hotListings.length) hotMax = hotListings.length; %>
                              <% for(i = 0; i < hotMax; i++) { %>
                                 <div class="osahan-slider-item mx-2">
                                    <a href="/product_details/hotListings[i]._id"><img src="https://rc-2021a-freebie.s3.amazonaws.com/<%=hotListings[i].itemImage%>" class="img-fluid mx-auto rounded goFast" alt="<%=hotListings[i].name%>"></a>
                                 </div>
                              <% } %>
                           </div>
                        </div>
                        <!-- categories -->
                        <div class="pt-3 pb-2  osahan-categories">
                           <div class="d-flex align-items-center mb-2">
                              <h5 class="m-0">Search by Category</h5>
                           </div>
                           <div class="categories-slider">
                              <div class="col-c">
                                 <div class="bg-white shadow-sm rounded text-center my-2 px-2 py-3 c-it">
                                    <a href="/filter/furniture">
                                       <img src="img/categorie/furniture.png" class="img-fluid px-2 mx-auto">
                                       <p class="backend m-0 pt-2 text-muted text-center">Furniture</p>
                                    </a>
                                 </div>
                              </div>
                              <div class="col-c">
                                 <div class="bg-white shadow-sm rounded text-center my-2 px-2 py-3 c-it">
                                    <a href="/filter/accessories">
                                       <img src="img/categorie/accessories.png" class="img-fluid px-2 mx-auto">
                                       <p class="backend m-0 pt-2 text-muted text-center">Accessories</p>
                                    </a>
                                 </div>
                              </div>
                              <div class="col-c">
                                 <div class="bg-white shadow-sm rounded text-center my-2 px-2 py-3 c-it">
                                    <a href="/filter/winter gear">
                                       <img src="img/categorie/winter-gear.png" class="img-fluid px-2 mx-auto">
                                       <p class="backend m-0 pt-2 text-muted text-center">Winter Gear</p>
                                    </a>
                                 </div>
                              </div>
                              <div class="col-c">
                                 <div class="bg-white shadow-sm rounded text-center my-2 px-2 py-3 c-it">
                                    <a href="/filter/shoes">
                                       <img src="img/categorie/shoes.png" class="img-fluid px-2 mx-auto">
                                       <p class="backend m-0 pt-2 text-muted text-center">Shoes</p>
                                    </a>
                                 </div>
                              </div>
                              <div class="col-c">
                                 <div class="bg-white shadow-sm rounded text-center my-2 px-2 py-3 c-it">
                                    <a href="/filter/Kitchenware">
                                       <img src="img/categorie/kitchen.png" class="img-fluid px-2 mx-auto">
                                       <p class="backend m-0 pt-2 text-muted text-center">Kitchenware</p>
                                    </a>
                                 </div>
                              </div>
                              <div class="col-c">
                                 <div class="bg-white shadow-sm rounded text-center my-2 px-2 py-3 c-it">
                                    <a href="/filter/games">
                                       <img src="img/categorie/games.png" class="img-fluid px-2 mx-auto">
                                       <p class="backend m-0 pt-2 text-muted text-center">Games</p>
                                    </a>
                                 </div>
                              </div>
                              <div class="col-c">
                                 <div class="bg-white shadow-sm rounded text-center my-2 px-2 py-3 c-it">
                                    <a href="/filter/makeup">
                                       <img src="img/categorie/makeup.png" class="img-fluid px-2 mx-auto">
                                       <p class="backend m-0 pt-2 text-muted text-center">Makeup</p>
                                    </a>
                                 </div>
                              </div>
                              <div class="col-c">
                                 <div class="bg-white shadow-sm rounded text-center my-2 px-2 py-3 c-it">
                                    <a href="/filter/skincare">
                                       <img src="img/categorie/skin-care.png" class="img-fluid px-2 mx-auto">
                                       <p class="backend m-0 pt-2 text-muted text-center">Skincare</p>
                                    </a>
                                 </div>
                              </div>
                              <div class="col-c">
                                 <div class="bg-white shadow-sm rounded text-center my-2 px-2 py-3 c-it">
                                    <a href="/filter/pet">
                                       <img src="img/categorie/misc.png" class="img-fluid px-2 mx-auto">
                                       <p class="backend m-0 pt-2 text-muted text-center">Pets</p>
                                    </a>
                                 </div>
                              </div>
          
                             
                           </div>
                        </div>
                        
                        <!-- Pick's Today -->
                        <div class="title d-flex align-items-center py-3">
                           <h5 class="m-0">Featured Thrifts </h5>
                           <a class="ml-auto btn btn-outline-success btn-sm" href="/listing">See more</a>
                        </div>
                        <!-- pick today -->
                        <div class="pick_today">
                           <div class="row">
                              <% let max = 8; if(max > newest.length) {max = newest.length} %>
                              <% for(i = 0; i < max; i++) { %>
                              <div class="col-6 col-md-3 mb-3">
                                 <div class="list-card bg-white h-100 rounded overflow-hidden position-relative shadow-sm">
                                    <div class="list-card-image">
                                       <a href="/product_details/<%=newest[i]._id%>" class="text-dark">
                                          <!-- <div class="member-plan position-absolute"><span class="badge m-3 badge-danger">10%</span></div> -->
                                          <div class="p-3">
                                             <img src="https://rc-2021a-freebie.s3.amazonaws.com/<%= newest[i].itemImage %>" class="img-fluid item-img w-100 mb-3">
                                             <h6><%= newest[i].name %></h6>
                                             <div class="d-flex align-items-center">
                                                <!-- <h6 class="price m-0 text-success">posted 5 hours ago</h6> -->

                                       <div class="collapse qty_show" id="collapseExample1">
                                       <div>
                                       <span class="ml-auto" href="#">
                                       <form id='myform' class="cart-items-number d-flex" method='POST' action='#'>
                                       <input type='button' value='-' class='qtyminus btn btn-success btn-sm' field='quantity' />
                                       <input type='text' name='quantity' value='1' class='qty form-control' />
                                       <input type='button' value='+' class='qtyplus btn btn-success btn-sm' field='quantity' />
                                       </form>
                                       </span>
                                       </div>
                                       </div>
                                       </div>
                                       </div>
                                       </a>
                                    </div>
                                 </div>
                              </div>
                              <% } %>
                           </div>
                        </div>
                        <!-- Most sales -->
                        <div class="title d-flex align-items-center py-3">
                           <h5 class="m-0">Recommend for You</h5>
                           <a class="ml-auto btn btn-outline-success btn-sm" href="/listing">26 more</a>
                        </div>
                        <!-- osahan recommend -->

                        <div class="osahan-recommend recPics">
                           <div class="row">
                              <% for(i = 0; i < recommended.length; i++) { %>
                              <div class="col-12 col-md-4 mb-3">
                                 <a href="/product_details/<%=recommended[i]._id%>" class="text-dark text-decoration-none">
                                    <div class="list-card bg-white h-100 rounded overflow-hidden position-relative shadow-sm">
                                       <div class=" rounded mb-0">
                                             <div class=" m-2 rounded">
                                                <img src="https://rc-2021a-freebie.s3.amazonaws.com/<%= recommended[i].itemImage %>" class="img-fluid mx-auto rounded shadow-sm" alt="Responsive image">
                                             </div>
                                          <!-- <div class=" m-2 rounded">
                                             <img src="https://rc-2021a-freebie.s3.amazonaws.com/<%= recommended[i].itemImage %>" class="img-fluid mx-auto rounded shadow-sm" alt="Responsive image">
                                          </div>
                                          <div class=" m-2 rounded">
                                             <img src="https://rc-2021a-freebie.s3.amazonaws.com/<%= recommended[i].itemImage %>" class="img-fluid mx-auto rounded shadow-sm" alt="Responsive image">
                                          </div> -->
                                       </div>
                                       <div class="p-3 position-relative">
                                          <h6 class="mb-1 font-weight-bold text-success"><%=recommended[i].category%>
                                          </h6>
                                          <p class="text-muted"><%=recommended[i].description%></p>
                                          <div class="d-flex align-items-center">
                                             <!-- <h6 class="m-0">Posted 3 hours ago</h6> -->
                                 </a>
                                 </div>
                                 </div>
                                 </div>
                                 </a>
                              </div>
                              <% } %>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>

      
      <!-- footer -->

      <% include partials/footer.ejs %>


      <script src="vendor/jquery/jquery.min.js"></script>
      <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <!-- slick Slider JS-->
      <script type="text/javascript" src="vendor/slick/slick.min.js"></script>
      <!-- Sidebar JS-->
      <script type="text/javascript" src="vendor/sidebar/hc-offcanvas-nav.js"></script>
      <!-- Custom scripts for all pages-->
      <script src="js/osahan.js"></script>
   </body>
</html>
