<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <meta name="description" content="">
   <meta name="author" content="">
   <link rel="icon" type="image/png" href="/img/logo.png">
   <title>My Account</title>
   <!-- Slick Slider -->
   <link rel="stylesheet" type="text/css" href="vendor/slick/slick.min.css" />
   <link rel="stylesheet" type="text/css" href="vendor/slick/slick-theme.min.css" />
   <!-- Icofont Icon-->
   <link href="vendor/icons/icofont.min.css" rel="stylesheet" type="text/css">
   <!-- Bootstrap core CSS -->
   <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
   <!-- Custom styles for this template -->
   <link href="css/style.css" rel="stylesheet">
   <!-- Sidebar CSS -->
   <link href="vendor/sidebar/demo.css" rel="stylesheet">
</head>

<body class="fixed-bottom-padding">
   <div class="border-bottom p-3 d-none mobile-nav">
      <div class="title d-flex align-items-center">
         <a href="/home" class="text-decoration-none text-dark d-flex align-items-center">
            <a href="home" class="text-decoration-none text-dark d-flex align-items-center">
               <img class="osahan-logo mr-2" src="/img/profile/logo.png">
               <h4 class="font-weight-bold text-success m-0">Grocery</h4>
            </a>
            <p class="ml-auto m-0">
               <a href="/listing" class="text-decoration-none bg-white p-1 rounded shadow-sm d-flex align-items-center">
                  <i class="text-dark icofont-sale-discount"></i>
                  <span class="badge badge-danger p-1 ml-1 small">50%</span>
               </a>
            </p>
            <a class="toggle ml-3" href="#"><i class="icofont-navigation-menu"></i></a>
      </div>
      <a href="/search" class="text-decoration-none">
         <div class="input-group mt-3 rounded shadow-sm overflow-hidden bg-white">
            <div class="input-group-prepend">
               <button class="border-0 btn btn-outline-secondary text-success bg-white"><i
                     class="icofont-search"></i></button>
            </div>
            <input type="text" class="shadow-none border-0 form-control pl-0" placeholder="Search for Products.."
               aria-label="" aria-describedby="basic-addon1">
         </div>
      </a>
   </div>


   <!-- Nav bar -->
   <nav aria-label="breadcrumb" class="breadcrumb mb-0">
      <div class="container">
         <ol class="d-flex align-items-center mb-0 p-0">
            <li class="breadcrumb-item"><a href="/home" class="text-success">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">My account</li>
         </ol>
      </div>
   </nav>
   <!-- body -->
   <section class="py-4 osahan-main-body">

      <% include partials/nav.ejs %>


      <div class="container">
         <div class="row">
            <div class="col-lg-4">
               <div class="osahan-account bg-white rounded shadow-sm overflow-hidden">
                  <div class="p-4 profile text-center border-bottom">
                     <div class=""><img
                           src="https://rc-2021a-freebie.s3.amazonaws.com/<%= profileDetails.profileImage %>" alt="">
                     </div>

                     <h6 class="font-weight-bold m-0 mt-2"><%= profileDetails.username %></h6>
                     <p class="small text-muted m-0"><%= user.local.email %></p>
                  </div>
                  <div class="account-sections">
                     <ul class="list-group">
                        <!-- <a href="/my_account" class="text-decoration-none text-dark">
                           <a href="/profile" class="text-decoration-none text-dark">
                              <li class="border-bottom bg-white d-flex align-items-center p-3">
                                 <i class="icofont-user osahan-icofont bg-danger"></i>My Account
                                 <span class="badge badge-success p-1 badge-pill ml-auto hide"><i class="icofont-simple-right"></i></span>
                              </li>
                           </a> -->
                        <!-- <a href="/promos" class="text-decoration-none text-dark hide">
                           <a href="/editAccount" class="text-decoration-none text-dark">
                              <li class="border-bottom bg-white d-flex align-items-center p-3">
                                 <i class="icofont-user osahan-icofont bg-danger"></i>Edit Account
                                 <span class="badge badge-success p-1 badge-pill ml-auto hide"><i class="icofont-simple-right"></i></span>
                              </li>
                           </a> -->
                        <!-- Unlink -->
                        <a href="/chat" class="text-decoration-none text-dark">
                           <li class="border-bottom bg-white d-flex align-items-center p-3">
                              <i class="icofont-user osahan-icofont bg-danger"></i>Messages
                              <span class="badge badge-success p-1 badge-pill ml-auto hide"><i
                                    class="icofont-simple-right"></i></span>
                           </li>
                        </a>
                        <a href="/newPost" class="text-decoration-none text-dark">
                           <li class="border-bottom bg-white d-flex align-items-center p-3">
                              <i class="icofont-sale-discount osahan-icofont bg-success"></i>Create A Post
                              <span class="badge badge-success p-1 badge-pill ml-auto hide"><i
                                    class="icofont-simple-right"></i></span>
                           </li>
                        </a>
                        <a href="/my_address" class="text-decoration-none text-dark hide">
                           <li class="border-bottom bg-white d-flex align-items-center p-3">
                              <i class="icofont-address-book osahan-icofont bg-dark"></i>My Address
                              <span class="badge badge-success p-1 badge-pill ml-auto"><i
                                    class="icofont-simple-right"></i></span>
                           </li>
                        </a>
                        <a href="/terms_conditions" class="text-decoration-none text-dark">
                           <a href="terms_conditions.html" class="text-decoration-none text-dark hide">
                              <li class="border-bottom bg-white d-flex align-items-center p-3">
                                 <i class="icofont-info-circle osahan-icofont bg-primary"></i>Terms, Privacy & Policy
                                 <span class="badge badge-success p-1 badge-pill ml-auto hide"><i
                                       class="icofont-simple-right"></i></span>
                              </li>
                           </a>
                           <a href="/help_support" class="text-decoration-none text-dark">
                              <a href="help_support.html" class="text-decoration-none text-dark hide">
                                 <li class="border-bottom bg-white d-flex align-items-center p-3">
                                    <i class="icofont-phone osahan-icofont bg-warning"></i>Help & Support
                                    <span class="badge badge-success p-1 badge-pill ml-auto hide"><i
                                          class="icofont-simple-right"></i></span>
                                 </li>
                              </a>
                              <a href="/help_ticket" class="text-decoration-none text-dark hide">
                                 <li class="border-bottom bg-white d-flex align-items-center p-3">
                                    <i class="icofont-phone osahan-icofont bg-success"></i>Ticket
                                    <span class="badge badge-success p-1 badge-pill ml-auto"><i
                                          class="icofont-simple-right"></i></span>
                                 </li>
                              </a>
                              <a href="/signin" class="text-decoration-none text-dark">
                                 <a href="/login" class="text-decoration-none text-dark">
                                    <li class="border-bottom bg-white d-flex  align-items-center p-3">
                                       <i class="icofont-lock osahan-icofont bg-danger"></i> Logout
                                    </li>
                                 </a>
                     </ul>
                  </div>
               </div>
            </div>
            <div class="col-lg-8 p-4 bg-white rounded shadow-sm">
               <h4 class="mb-4 profile-title">My account</h4>
               <div id="edit_profile">
                  <div class="p-0">
                     <form action="my_account.html">
                        <div class="form-group hide">
                           <label for="exampleInputName1"><%= profileDetails.username %></label>
                           <input type="text" class="form-control hide" id="exampleInputName1" value="Askbootstrap">
                        </div>
                        <div class="form-group hide">
                           <label for="exampleInputNumber1">Mobile Number</label>
                           <input type="number" class="form-control" id="exampleInputNumber1" value="1234567890">
                        </div>
                        <div class="form-group hide">
                           <label for="exampleInputEmail1"><%= user.local.email %></label>
                           <input type="email" class="form-control hide" id="exampleInputEmail1"
                              value="iamosahan@gmail.com">
                        </div>
                        <!--BACKEND: User info : COLLECTIONS: USER -->
                        <div class="form-group">
                           <div class="email">
                              <span class="small font-weight-bold">Username</span>
                              <p class="email"><%= profileDetails.username %></p>
                           </div>
                           <div class="email">
                              <span class="small font-weight-bold">Email</span>
                              <p class="email"><%= user.local.email %></p>
                           </div>
                           <div class="email hide">
                              <span class="small font-weight-bold">Address</span>
                              <p class="email">66 Mayflower St</p>
                           </div>
                           <div class="email">
                              <span class="small font-weight-bold">City</span>
                              <p class="email"><%= profileDetails.city %></p>
                           </div>
                           <div class="number">
                              <span class="small font-weight-bold">Zip Code</span>
                              <p class="number"><%= profileDetails.zipcode %></p>
                           </div>
                           <div class="email">
                              <span class="small font-weight-bold">State</span>
                              <p class="email"><%= profileDetails.state %></p>
                           </div>
                        </div>
                        <div class="text-center">
                           <button type="submit" class="btn btn-success btn-block btn-lg hide">Save Changes</button>
                        </div>
                     </form>
                  </div>
                  <div class="additional mt-3">
                     <div class="change_password mb-1 hide">
                        <a href="/change_password" class="p-3 btn-light border btn d-flex align-items-center">Change
                           Password
                           <i class="icofont-rounded-right ml-auto"></i></a>
                     </div>
                     <div class="deactivate_account">
                        <a href="/deactivate_account"
                           class="p-3 btn-light border btn d-flex align-items-center">Deactivate Account
                           <div class="deactivate_account hide">
                              <a href="deactivate_account.html"
                                 class="p-3 btn-light border btn d-flex align-items-center">Deactivate Account
                                 <i class="icofont-rounded-right ml-auto"></i></a>
                           </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
   </section>

   <nav id="main-nav">
      <ul class="second-nav">
         <li><a href="/home"><i class="icofont-smart-phone mr-2"></i> Home</a></li>
         <li>
            <a href="#"><i class="icofont-login mr-2"></i> Authentication</a>
            <ul>
               <li><a class="dropdown-item" href="/signin">Sign In</a></li>
               <li><a class="dropdown-item" href="/signup">Sign Up</a></li>
               <li><a href="/verification">Verification</a></li>
            </ul>
         </li>
         <li><a class="dropdown-item" href="/listing">Listing</a></li>
         <li><a class="dropdown-item" href="/product_details">Detail</a></li>
         <li><a class="dropdown-item" href="/picks_today">Trending</a></li>
         <li><a class="dropdown-item" href="/recommend">Recommended</a></li>
         <li><a class="dropdown-item" href="/fresh_vegan">Most Popular</a></li>
         <li><a class="dropdown-item" href="/cart">Cart</a></li>
         <li><a class="dropdown-item" href="/checkout">Checkout</a></li>
         <li><a class="dropdown-item" href="/successful">Successful</a></li>
         <li>
            <a href="#"><i class="icofont-sub-listing mr-2"></i> My Order</a>
            <ul>
               <li><a class="dropdown-item" href="/my_order">My order</a></li>
               <li><a class="dropdown-item" href="/status_complete">Status Complete</a></li>
               <li><a class="dropdown-item" href="/status_onprocess">Status on Process</a></li>
               <li><a class="dropdown-item" href="/status_canceled">Status Canceled</a></li>
               <li><a class="dropdown-item" href="/review">Review</a></li>
            </ul>
         </li>
         <li>
            <a href="/profile"><i class="icofont-ui-user mr-2"></i> My Account</a>
            <ul>
               <li><a class="dropdown-item" href="/my_account">My account</a></li>
               <li><a class="dropdown-item" href="/promos">Promos</a></li>
               <li><a class="dropdown-item" href="/my_address">My address</a></li>
               <li><a class="dropdown-item" href="/terms_conditions">Terms & conditions</a></li>
               <li><a class="dropdown-item" href="/help_support">Help & support</a></li>
               <li><a class="dropdown-item" href="/help_ticket">Help ticket</a></li>
               <li><a class="dropdown-item" href="/signin">Logout</a></li>
            </ul>
         </li>
         <li>
            <a href="#"><i class="icofont-page mr-2"></i> Pages</a>
            <ul>
               <li><a class="dropdown-item" href="/verification">Verification</a></li>
               <li><a class="dropdown-item" href="/promos">Promos</a></li>
               <li><a class="dropdown-item" href="/promo_details">Promo Details</a></li>
               <li><a class="dropdown-item" href="/terms_conditions">Terms & Conditions</a></li>
               <li><a class="dropdown-item" href="/privacy">Privacy</a></li>
               <li><a class="dropdown-item" href="terms&conditions.html">Conditions</a></li>
               <li><a class="dropdown-item" href="/help_support">Help Support</a></li>
               <li><a class="dropdown-item" href="/help_ticket">Help Ticket</a></li>
               <li><a class="dropdown-item" href="/refund_payment">Refund Payment</a></li>
               <li><a class="dropdown-item" href="/faq">FAQ</a></li>
               <li><a class="dropdown-item" href="/signin">Sign In</a></li>
               <li><a class="dropdown-item" href="/signup">Sign Up</a></li>
               <li><a class="dropdown-item" href="/search">Search</a></li>
            </ul>
         </li>
         <li>
            <a href="#"><i class="icofont-link mr-2"></i> Navigation Link Example</a>
            <ul>
               <li>
                  <a href="#">Link Example 1</a>
                  <ul>
                     <li>
                        <a href="#">Link Example 1.1</a>
                        <ul>
                           <li><a href="#">Link</a></li>
                           <li><a href="#">Link</a></li>
                           <li><a href="#">Link</a></li>
                           <li><a href="#">Link</a></li>
                           <li><a href="#">Link</a></li>
                        </ul>
                     </li>
                     <li>
                        <a href="#">Link Example 1.2</a>
                        <ul>
                           <li><a href="#">Link</a></li>
                           <li><a href="#">Link</a></li>
                           <li><a href="#">Link</a></li>
                           <li><a href="#">Link</a></li>
                        </ul>
                     </li>
                  </ul>
               </li>
               <li><a href="#">Link Example 2</a></li>
               <li><a href="#">Link Example 3</a></li>
               <li><a href="#">Link Example 4</a></li>
               <li data-nav-custom-content>
                  <div class="custom-message">
                     You can add any custom content to your navigation items. This text is just an example.
                  </div>
               </li>
            </ul>
         </li>
      </ul>
      <ul class="bottom-nav">
         <li class="email">
            <a class="text-success" href="/home">
               <p class="h5 m-0"><i class="icofont-home text-success"></i></p>
               Home
            </a>
         </li>
         <li class="github">
            <a href="/cart">
               <p class="h5 m-0"><i class="icofont-cart"></i></p>
               CART
            </a>
         </li>
         <li class="ko-fi">
            <a href="/help_ticket">
               <p class="h5 m-0"><i class="icofont-headphone"></i></p>
               Help
            </a>
         </li>
      </ul>
   </nav>



   <section class="py-4 osahan-main-body">
      <div class="container">
         <div class="row">
            <div class="col-lg-12">
               <div class="osahan-vegan">
                  <!-- osahan vegan -->
                  <div class="fresh-vegan pb-2">
                     <div class="d-flex align-items-center mb-2">
                        <!-- BACKEND : COLLECETION: WON -->
                        <h5 class="m-0">Items You Posted</h5>
                     </div>
                     <div class="trending-slider">
                        <% for(i = 0; i < posts.length; i++) { %>
                        <div class="osahan-slider-item m-2">
                           <div class="list-card bg-white h-100 rounded overflow-hidden position-relative shadow-sm">
                              <div class="list-card-osahan-2 p-3">
                                 <div class="member-plan position-absolute"><span
                                       class="badge badge-danger hide">10%</span></div>
                                 <a href="/product_details/<%=posts[i]._id%>" class="text-decoration-none text-dark">
                                    <img src="https://rc-2021a-freebie.s3.amazonaws.com/<%= posts[i].itemImage %>"
                                       class="img" />
                                    <h5 class="text-success"><%= posts[i].name %></h5>
                                    <!-- CHAT COLLECTION -->
                                    <% if (posts[i].winner === '') { %>
                                    <h6 class="mb-1 font-weight-bold">No winner yet</h6>
                                    <% } else { %>
                                    <a href="/chat">
                                       <h6 class="mb-1 font-weight-bold">Live Chat With <%= posts[i].winner %></h6>
                                    </a>
                                    <% } %>
                                    <p class="text-gray mb-0 small hide"><%= posts[i].description %></p>
                                 </a>
                              </div>
                           </div>
                        </div>
                        <% } %>
                     </div>
                  </div>
               </div>
               <div class="fresh-vegan pb-2">
                  <div class="d-flex align-items-center mb-2">
                     <!-- BACKEND : COLLECETION: WON -->
                     <!-- <h5 class="m-0">Items You Won</h5> -->
                     <a href="listing.html" class="ml-auto text-success hide">See more</a>
                  </div>
                  <div class="trending-slider">
                     <% for(i = 0; i < won.length; i++) { %>
                     <div class="osahan-slider-item m-2">
                        <div class="list-card bg-white h-100 rounded overflow-hidden position-relative shadow-sm">
                           <div class="list-card-osahan-2 p-3">
                              <div class="member-plan position-absolute"><span
                                    class="badge badge-danger hide">10%</span></div>
                              <a href="/product_details/<%=won[i]._id%>" class="text-decoration-none text-dark">
                                 <img src="https://rc-2021a-freebie.s3.amazonaws.com/<%= won[i].itemImage %>"
                                    class="img" />
                                 <h5 class="text-success"><%= won[i].name %></h5>
                                 <!-- CHAT COLLECTION -->
                                 <a href="/chat">
                                    <h6 class="mb-1 font-weight-bold">Live Chat With <%= won[i].posterName %></h6>
                                 </a>
                                 <p class="text-gray mb-0 small hide"><%= won[i].description %></p>
                              </a>
                           </div>
                        </div>
                     </div>
                     <% } %>
                  </div>
               </div>
               <div class="fresh-vegan pb-2">
                  <div class="d-flex align-items-center mb-2">
                     <!-- BACKEND : COLLECETION: WON -->
                     <h5 class="m-0">Items You Bid</h5>
                     <a href="listing.html" class="ml-auto text-success hide">See more</a>
                  </div>
                  <div class="trending-slider">
                     <% for(i = 0; i < bids.length; i++) { %>
                     <div class="osahan-slider-item m-2">
                        <div class="list-card bg-white h-100 rounded overflow-hidden position-relative shadow-sm">
                           <div class="list-card-osahan-2 p-3">
                              <div class="member-plan position-absolute"><span
                                    class="badge badge-danger hide">10%</span></div>
                              <a href="/product_details/<%=bids[i]._id%>" class="text-decoration-none text-dark">
                                 <img src="https://rc-2021a-freebie.s3.amazonaws.com/<%= bids[i].itemImage %>"
                                    class="img" />
                                 <h5 class="text-success"><%= bids[i].name %></h5>
                                 <p class="text-gray mb-0 small hide"><%= bids[i].description %></p>
                              </a>
                           </div>
                        </div>
                     </div>
                     <% } %>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>



   <div class="trending-slider">
      <% for(j = 0; j < posts.length; j++) { %>

      <% for(i = 0; i < posts[j].wished.length; i++) { %>

      <div class="osahan-slider-item m-2">

         <div class="list-card bg-white h-100 rounded overflow-hidden position-relative shadow-sm">

            <div class="list-card-osahan-2 p-3" data-postId="<%= posts[j]._id %>">

               <div class="member-plan position-absolute">
                  <span class="badge badge-danger hide">10%</span></div>
               <a href="/product_details" class="text-decoration-none text-dark">
                  <img src="https://rc-2021a-freebie.s3.amazonaws.com/<%= posts[j].itemImage %>" class="img">
                  <h5 class="text-success"><%= posts[j].wished[i].local.name %></h5>
                  <!-- CHAT COLLECTION -->
                  <p class="small text-muted m-0 text-success"><%= posts[j].wished[i].local.number %></p>
                  <!-- <a href="/wonPost"><h6 class="mb-1 font-weight-bold"></h6></a>   -->
               </a>
               <button class="ChooseWinner">Choose as winner</button>
            </div>

         </div>

      </div>
      <% } %>
      <% } %>


   </div>


   <!-- carousel -->
 

   <% include partials/footer.ejs %>
   <!-- Bootstrap core JavaScript -->
   <div class="modal fade right-modal" id="login" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
         <div class="modal-content">
            <div class="modal-header p-0">
               <nav class="schedule w-100">
                  <div class="nav nav-tabs" id="nav-tab" role="tablist">
                     <a class="nav-link active col-5 py-4" id="nav-home-tab" data-toggle="tab" href="#nav-home"
                        role="tab" aria-controls="nav-home" aria-selected="true">
                        <p class="mb-0 font-weight-bold">Sign in</p>
                     </a>
                     <a class="nav-link col-5 py-4" id="nav-profile-tab" data-toggle="tab" href="#nav-profile"
                        role="tab" aria-controls="nav-profile" aria-selected="false">
                        <p class="mb-0 font-weight-bold">Sign up</p>
                     </a>
                     <a class="nav-link col-2 p-0 d-flex align-items-center justify-content-center" data-dismiss="modal"
                        aria-label="Close">
                        <h1 class="m-0 h4 text-dark"><i class="icofont-close-line"></i></h1>
                     </a>
                  </div>
               </nav>
            </div>
            <div class="modal-body p-0">
               <div class="tab-content" id="nav-tabContent">
                  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                     <div class="osahan-signin p-4 rounded">
                        <div class="p-2">
                           <h2 class="my-0">Welcome Back</h2>
                           <p class="small mb-4">Sign in to Continue.</p>
                           <form action="verification.html">
                              <div class="form-group">
                                 <label for="exampleInputEmail1">Email</label>
                                 <input placeholder="Enter Email" type="email" class="form-control"
                                    id="exampleInputEmail1" aria-describedby="emailHelp">
                              </div>
                              <div class="form-group">
                                 <label for="exampleInputPassword1">Password</label>
                                 <input placeholder="Enter Password" type="password" class="form-control"
                                    id="exampleInputPassword1">
                              </div>
                              <button type="submit" class="btn btn-success btn-lg rounded btn-block">Sign in</button>
                           </form>
                           <p class="text-muted text-center small m-0 py-3">or</p>
                           <a href="/verification" class="btn btn-dark btn-block rounded btn-lg btn-apple">
                              <i class="icofont-brand-apple mr-2"></i> Sign up with Apple
                           </a>
                           <a href="/verification" class="btn btn-light border btn-block rounded btn-lg btn-google">
                              <i class="icofont-google-plus text-danger mr-2"></i> Sign up with Google
                           </a>
                           <p class="text-center mt-3 mb-0"><a href="/signup" class="text-dark">Don't have an account?
                                 Sign up</a></p>
                        </div>
                     </div>
                  </div>
                  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                     <div class="osahan-signup bg-white p-4">
                        <div class="p-2">
                           <h2 class="my-0">Let's get started</h2>
                           <p class="small mb-4">Create account to see our top picks for you!</p>
                           <form action="verification.html">
                              <div class="form-group">
                                 <label for="exampleInputName1">Name</label>
                                 <input placeholder="Enter Name" type="text" class="form-control" id="exampleInputName1"
                                    aria-describedby="emailHelp">
                              </div>
                              <div class="form-group">
                                 <label for="exampleInputNumber1">Phone Number</label>
                                 <input placeholder="Enter Phone Number" type="number" class="form-control"
                                    id="exampleInputNumber1" aria-describedby="emailHelp">
                              </div>
                              <div class="form-group">
                                 <label for="exampleInputEmail1">Email</label>
                                 <input placeholder="Enter Email" type="email" class="form-control"
                                    id="exampleInputEmail1" aria-describedby="emailHelp">
                              </div>
                              <div class="form-group">
                                 <label for="exampleInputPassword1">Password</label>
                                 <input placeholder="Enter Password" type="password" class="form-control"
                                    id="exampleInputPassword1">
                              </div>
                              <div class="form-group">
                                 <label for="exampleInputPassword2">Confirmation Password</label>
                                 <input placeholder="Enter Confirmation Password" type="password" class="form-control"
                                    id="exampleInputPassword2">
                              </div>
                              <button type="submit" class="btn btn-success rounded btn-lg btn-block">Create
                                 Account</button>
                           </form>
                           <p class="text-muted text-center small py-2 m-0">or</p>
                           <a href="/verification" class="btn btn-dark btn-block rounded btn-lg btn-apple">
                              <i class="icofont-brand-apple mr-2"></i> Sign up with Apple
                           </a>
                           <a href="/verification" class="btn btn-light border btn-block rounded btn-lg btn-google">
                              <i class="icofont-google-plus text-danger mr-2"></i> Sign up with Google
                           </a>
                           <p class="text-center mt-3 mb-0"><a href="/signin" class="text-dark">Already have an account!
                                 Sign in</a></p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="modal-footer p-0 border-0">
               <div class="col-6 m-0 p-0">
                  <a href="#" class="btn border-top border-right btn-lg btn-block" data-dismiss="modal">Close</a>
               </div>
               <div class="col-6 m-0 p-0">
                  <a href="/help_support" class="btn border-top btn-lg btn-block">Help</a>
               </div>
            </div>
         </div>
      </div>
   </div>
   <script src="js/winner.js"></script>
   <script src="vendor/jquery/jquery.min.js"></script>
   <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
   <!-- slick Slider JS-->
   <script type="text/javascript" src="vendor/slick/slick.min.js"></script>
   <!-- Sidebar JS-->
   <script type="text/javascript" src="vendor/sidebar/hc-offcanvas-nav.js"></script>
   <!-- Custom scripts for all pages-->
   <script src="js/osahan.js"></script>
</body>

</html>